

body {
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 100%;
  margin: 0 auto; /* Changed this */
  transition: background-color 0.3s, color 0.3s;
}

#main {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  max-width: 800px; /* To prevent lines of text from getting too long on large screens */
}

#main h1 {
  font-size: calc(2vw + 2vh + 1vmin); /* responsive font-size */
  margin-top: 0; /* Add this to remove the top margin */
  margin-bottom: 0.5em; /* Adjust this as per your requirement */
}

#main p {
  font-size: calc(1vw + 1vh + 0.5vmin); /* responsive font-size */
  line-height: 1.5; /* For readability */
  color: #333;
  margin-top: 0.5em; /* Add this to reduce the top margin */
}

@media screen and (max-width: 600px) {
  #timeWidget {
    top: 65%!important; /* Adjust as needed */
  }
}


#timeWidget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de;
  color: #ff00de;
}


#timeWidget h2 {
  font-size: calc(5vw + 5vh + 2vmin); /* responsive font-size */
  margin-bottom: 10px;
}

#timeWidget button {
  padding: 5px 10px;
  font-size: 1em;
  
}

#currentTime {
  font-size: 2em;
  color: #333;
}

#toggleTimeFormat {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4CAF50; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(0.5vw + 0.5vh + 0.5vmin); /* responsive font-size */
  transition-duration: 0.4s;
  cursor: pointer;
}

#toggleTimeFormat:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}


nav {
  position: sticky;
  top: 0;
  z-index: 2; /* This makes the nav bar always stay on top of other content */
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #14191f;
}

.nav-content h1 {
  margin: 0;
  font-size: 25px;
  flex-grow: 1;
  color: aliceblue;
  text-align: center;
}

.nav-content a {
  margin-right:20%;
  color: aliceblue;
  text-decoration: none;
  font-size: 25px;
}

.nav-content a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .nav-content a {
    display: none;
  }

  .nav-content h1 {
    display: block;
    text-align: center;
  }
}

/* The switch - the box around the slider */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #937047; /* Light theme color */
  transition: .4s;
}

.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #e7dac7; /* Light theme color */
  transition: .4s;
}

input:checked + .slider {
  background-color: #241f1c; /* Dark theme color */
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #937047; /* Dark theme color */
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


button {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0069D9;
}

#sidebar {
  height: calc(100% - 60px);
  width: 0;  /* Change this to your desired sidebar width when it's open */
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  background-color: #111;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}


#sidebar a, #sidebar button {
  padding: 15px 8px; 
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-bottom: 15px; /* Space between each item */
  border: none; /* Removes default button border */
  background: none; /* Removes default button background */
}

#sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* Style the sidebar button */
#sidebar-btn {
  font-size: 30px;
  cursor: pointer;
}

/* Style the sidebar links on hover */
#sidebar a:hover, #sidebar button:hover {
  color: #f1f1f1;
}

#sidebar button:focus {
  outline: none; /* Removes focus outline */
}



input {
  padding: 8px 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

.workspace {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.workspace > h2 {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
}

.workspace > input {
  padding: .25em;
  margin-bottom: 0.5em;
}

.workspace > button {
  margin-right: 5px;
}

.bookmarksList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookmarksList > li {
  margin-bottom: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/* Light Mode */
body.light-mode {
  background-color: #e7dac7;
  color: #241f1c;
}

body.light-mode .workspace {
  background-color: #937047;
  border-color: #241f1c;
}

body.light-mode input, body.light-mode button {
  background-color: #e7dac7;
  border-color: #937047;
  color: #241f1c;
}

body.light-mode button {
  background-color: #038C8C;
}

body.light-mode button:hover {
  background-color: #241f1c;
}

body.light-mode .bookmarksList, body.light-mode .bookmarksList > li {
  border-color: #241f1c;
}

/* Dark Mode */
body.dark-mode {
  background-color: #241f1c;
  color: #e7dac7;
}

body.dark-mode .workspace {
  background-color: #937047;
  border-color: #e7dac7;
}

body.dark-mode input, body.dark-mode button {
  background-color: #937047;
  border-color: #e7dac7;
  color: #241f1c;
}

body.dark-mode button {
  background-color: #038C8C;
}

body.dark-mode button:hover {
  background-color: #e7dac7;
}

body.dark-mode .bookmarksList, body.dark-mode .bookmarksList > li {
  border-color: #e7dac7; /* Lighten Dark Green */
}


/* Both Modes */
.bookmarksList {
  list-style-position: inside; /* To align the numbers with the bookmark text */
}

.bookmarksList > .bookmarkItem {
  display: flex;
  justify-content: space-between; /* Pushes the text and button to the far ends */
  width: 100%; /* Ensure the flex container takes up the full width */
  margin-bottom: 5px;
}

.bookmarksList > .bookmarkItem > button {
  margin-left: 10px; /* Optional: add some space between the text and the button */
}

/*modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding: 50px; /* Space around the modal */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
